.test-item {
    border: 0.0625rem solid #ccc; 
    border-radius: 0.3125rem; 
    padding: 1.25rem; 
    margin-bottom: 1.25rem;
    background-color: #f9f9f9;
  }
  
  .test-item h3 {
    margin-top: 0;
  }
  
  .test-item button {
    margin-top: 0.625rem;
    padding: 0.5rem 1rem; 
    background-color: #282C34;
    color: #fff;
    border: none;
    border-radius: 0.25rem; 
    cursor: pointer;
  }
  
  .test-item button:hover {
    background-color: #0056b3;
  }
  
  .test-list {
    margin-top: 4rem;
  }
